<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1200px, shrink-to-fit=yes">
    <meta name="description" content="Okcash Core RPC Docs{{if .Command}} - {{.Command.Name}}{{end}}">
    <meta name="author" content="">
	<meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Okcash Core RPC Docs" />
    <meta property="og:description" content="Okcash RPC commands / methods documentation for developers and users" />
    <meta property="og:url" content="https://okcashpro.github.io/rpc-docs/" />
    <meta property="og:site_name" content="Okcash Core RPC Docs" />
    <meta property="og:image" content="https://i.imgur.com/g7Gvfu3.png" />
    <meta property="og:image:secure_url" content="https://i.imgur.com/g7Gvfu3.png" />

    <title>{{if .Command}}{{.Command.Name}} - {{end}}Okcash Core RPC Docs</title>

    <link href="./bootstrap.min.css" rel="stylesheet">
  </head>
  <style>
  .card-body {
    font-size:80%;
    padding-top: 0.5em;
  }
  pre {
    word-break: break-word;
    white-space: pre-wrap;
  }
  </style>

  <body>


    <nav class="navbar  navbar-dark bg-dark ">
      <a class="navbar-brand" href="/">Okcash Core RPC docs</a>
    </nav>

    <main role="main" class="container-fluid" style="margin-top: 1pc;">

      <div class="row">
        <div class="col-8 col-lg-9 col-xl-10">
          <h1>{{if .Command}}{{.Command.Name}} - {{end}}Okcash RPC</h1>
          {{if .Command}}
            <pre>{{.Command.Description}}</pre>
            <hr>
          {{end}}
          <p>
          Okcash Core RPC documentation.
          </p>
          <p>
          Okcash version: 5.0.0.3 
          </p>
          <p>
          OK RPC docs at:<a href="https://github.com/okcashpro/rpc-docs" target="_blank">Github</a> 
          </p>
        </div>
        <div class="col-4 col-lg-3 col-xl-2">
          {{range .Groups}}
            <div class="card">
              <div class="card-header">
                {{.Name}}
              </div>
              <div class="card-body">
                {{range .Commands}}
                  <a href="{{.Name}}.html">{{.Name}}</a>
                  <br>
                {{end}}
              </div>
            </div>
            <br>
          {{end}}
        </div>  
      </div>
    </main> <!-- /container -->
  </body>
</html>		
